<?xml version="1.0" encoding="UTF-8"?><Model>
    <ModelInformation>
        <Name></Name>
        <Author>n/a</Author>
        <URL>http://</URL>
        <Credit>n/a</Credit>
        <Version>n/a</Version>
        <Date></Date>
        <Reference>n/a</Reference>
    </ModelInformation>
    <ModelTest>
        <InputSize></InputSize>
        <OutputSize></OutputSize>
        <MemoryPeak></MemoryPeak>
        <Runtime></Runtime>
        <PixelSize></PixelSize>
    </ModelTest>
    <ModelCharacteristics>
        <ModelTag>tf.saved_model.tag_constants.SERVING</ModelTag>
        <SignatureDefinition>tf.saved_model.signature_constants.DEFAULT_SERVING_SIGNATURE_DEF_KEY</SignatureDefinition>
        <InputTensorDimensions></InputTensorDimensions>
        <NumberOfInputs>1</NumberOfInputs>
        <InputNames0>input</InputNames0>
        <InputOrganization0>NHWC</InputOrganization0>
        <NumberOfOutputs>1</NumberOfOutputs>
        <OutputNames0>output</OutputNames0>
        <OutputOrganization0>NHWC</OutputOrganization0>
        <Channels></Channels>
        <FixedPatch>true</FixedPatch>
        <MinimumSize>1</MinimumSize>
        <PatchSize></PatchSize>
        <FixedPadding>true</FixedPadding>
        <Padding></Padding>
        <PreprocessingFile>preprocessing.txt</PreprocessingFile>
        <PostprocessingFile>postprocessing.txt</PostprocessingFile>
        <slices>1</slices>
    </ModelCharacteristics>
</Model>
